{{define "content"}}

<div style="
            font-size:30px;
            font-weight:700;
            color:#082F49;
            margin-bottom:16px;
            ">
    Подтверждение электронного адреса
</div>

<div style="
            font-size:16px;
            line-height:30px;
            color:#0C4A6E;
            ">
    Вы запросили подтверждение электронного адреса для своей учетной записи.
    Используйте код ниже для подтверждения операции.
</div>

<!-- Code -->
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">

            <div style="
                        background:#E2E8F0;
                        border-radius:18px;
                        padding:28px;
                        margin-top:40px;
                        margin-bottom:40px;
                        ">

                            <span style="
                            font-size:42px;
                            font-weight:800;
                            letter-spacing:14px;
                            color:#0284C7;
                            ">
                                {{.Code}}
                            </span>

            </div>

        </td>
    </tr>
</table>

<div style="
            font-size:15px;
            line-height:28px;
            color:#0C4A6E;
            ">
    Код действует в течение <b>5 минут</b>.<br>
    Никому не сообщайте его, даже сотрудникам ServiceHub.
</div>

{{end}}